@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.defaultHeadingWrapper {
  font-family: "Lobster", cursive;
  text-align: center;
}
.defaultHeadingWrapper > p,
.largeHeader,
.regularHeader,
.smallHeader {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.defaultHeadingWrapper > p:first-child,
.regularHeader {
  font-size: 36px;
}
.defaultHeadingWrapper > p:nth-child(2n),
.largeHeader {
  color: #ffa500;
  font-size: 42px;
}
.defaultHeadingWrapper > p:nth-child(2n + 3),
.smallHeader {
  font-size: 30px;
}
